<% layout('/layouts/boilerplate') %>

     <body>
          <div class="row">
               <div class="col-8 offset-2">
                    <form novalidate class="needs-validation" enctype="multipart/form-data" action="/listings/<%= listing._id %>?_method=PUT" method="POST">
                         <h2 class="mt-4 mb-4">Edit your Listing</h2>

                         <div class="mb-3">
                              <label for="title" class="form-label">Title</label>
                              <input type="text" required id="title" name="title" value="<%= listing.title %>" class="form-control">
                              <div class="invalid-feedback">Title should be valid!</div>
                         </div>

                         <div class="mb-3">
                              <label for="desc" class="form-label">Description</label>
                              <textarea type="text" required id="desc" name="description"
                                   placeholder="Enter description" class="form-control"><%= listing.description %></textarea>
                                   <div class="invalid-feedback">Enter a valid description!</div>
                         </div>

                         <div>
                              Original Image<br>
                              <img src="<%= listing.image.url %>" height="130" width="220" alt="">
                         </div>
                         <div class="mb-3">
                              <label for="image" class="form-label">Upload New Image</label>
                              <input type="file" id="image" name="image" class="form-control">
                         </div>

                         <div class="row">
                              <div class="mb-3 col-md-4">
                                   <label for="price" class="form-label">Price</label>
                                   <input type="number" required id="price" name="price" value="<%= listing.price %>"
                                        placeholder="Enter price" class="form-control">
                                        <div class="invalid-feedback">Price should be valid!</div>
                              </div>

                              <div class="mb-3 col-md-4">
                                   <label for="category" class="form-label">Listing Category</label>
                                   <select name="category" id="category" required class="form-control" >
                                        <option value="rooms">Rooms</option>
                                        <option value="iconicCities">Iconic City</option>
                                        <option value="mountains">Mountain</option>
                                        <option value="castles">Castle</option>
                                        <option value="pools">Amazing Pools</option>
                                        <option value="camping">Camping</option>
                                        <option value="farms">Farm House</option>
                                        <option value="arctic">Arctic</option>
                                        <option value="beach">Beachfront</option>
                                        <option value="treehouse">Tree House</option>
                                   </select>
                                   <div class="invalid-feedback">Country should be valid!</div>
                                </div>

                              <div class="mb-3 col-md-4">
                                   <label for="country" class="form-label">Country</label>
                                   <input type="text" required id="country" name="country" value="<%= listing.country %>"
                                        placeholder="Enter country" class="form-control">
                                        <div class="invalid-feedback">Country should be valid!</div>
                              </div>
                         </div>

                         <div class="mb-3">
                              <label for="location" class="form-label">Location</label>
                              <input type="text" required id="location" name="location" value="<%= listing.location %>"
                                   placeholder="Enter location" class="form-control">
                                   <div class="invalid-feedback">Location should be valid!</div>
                         </div>
                         
                         <button type="submit" class="btn mt-3 mb-4 edit-btn">Update</button>
                    </form>
               </div>
          </div>
     </body>